/* - - GENERAL - - */
body {
  font-family: Helvetica, sans-serif;
  color: #031b4e;
}

h2 {
  font-size: 2.5em;
  font-weight: bolder;
}

a {
  color: #0069ff;
}

a:hover {
  color: #031b4e;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.my_btn:hover,
.my_btn:focus,
.my_btn:active {
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-top: 4px;
  margin: 0;
}

li {
  display: inline-block;
}

.mtb_0 {
  margin: 20px 0;
}

/* - - DEBUG - - */
.debug [class*="col-"] {
  height: 100%;
  border: 1px dotted black;
  background-color: lightcyan;
}

.debug .row .row [class*="col-"] {
  height: 80%;
  border: 1px dotted cadetblue;
  margin: 5px 0;
}

.box-100 [class*="col-"] {
  height: 100px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.ibox-100 {
  height: 100px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.box-400 [class*="col-"] {
  height: 400px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.ibox-400 {
  height: 400px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.ibox-200 [class*="col-"] {
  height: 200px;
  border: 1px dotted black;
  border: 1px dotted red;
}

#customers .row .row [class*="col-"] {
  border: 1px dotted black;
  border: 1px dotted red;
}
/* /DEBUG */

/* - - HEADER - - */
header .row {
  height: 60px;
  line-height: 60px;
}

.header_logo img {
  width: 180px;
  vertical-align: middle;
}

.central_nav a,
.dx_nav a {
  color: #031b4e;
  font-size: 1.2em;
  margin-right: 15px;
}

.central_nav a:hover,
.dx_nav a:hover {
  text-decoration: none;
  color: #0069ff;
}

.dx_nav .my_btn {
  margin-bottom: 3px;
  font-size: 1em;
  color: #0069ff;
  border: 1.5px solid #0069ff;
}

.dx_nav .my_btn:hover,
.dx_nav .my_btn:focus,
.dx_nav .my_btn:active {
  background-color: #0069ff;
  color: white;
}

.dropdown::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 2px;
}

.nav_bar i {
  color: #0069ff;
  font-size: 1.8em;
  padding-top: 20px;
}

.nav_bar i:hover {
  color: #031b4e;
  cursor: pointer;
}

/* - - JUMBOTRON - - */
.jumbotron {
  background-image: url(../img/bg-home-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
}

.jumbotron p {
  color: white;
  opacity: 0.8;
  font-size: 1.7em;
}

/* JUMBOTRON FORM NEWSLETTER */
.jumb_form .form_box {
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px;
}

.form_box h2:first-child {
  color: black;
  font-weight: bolder;
  font-size: 1.9em;
  margin-bottom: 0;
}

.form_box h2:nth-child(2) {
  color: #0069ff;
  font-weight: bolder;
  font-size: 1.9em;
  margin-top: 10px;
}

.form_box .form-control {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px 5px;
  box-shadow: none;
}

.form_box .my_btn {
  padding: 5px 16px;
  font-size: 1em;
}

.form_box .form_submit {
  background-color: #0069ff;
  opacity: 0.5;
}

.form_box .form_submit:hover {
  cursor: not-allowed;
}

.form_box .form_google {
  font-weight: bold;
}

.form_box .form_google:hover {
  background-color: transparent;
  color: #0069ff;
  border-color: #0069ff;
}

.form_box .form_google::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/google_logo.png);
  background-size: cover;
}

.form_box p {
  font-size: 1em;
  color: black;
  margin-top: 20px;
}

.form_box p a {
  text-decoration: underline;
}

/* Jumbotron media */
@media screen and (max-width: 1200px) {
  .jumb_text h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 992px) {
  .jumb_text h1 {
    font-size: 3.5em;
  }

  .jumb_text p {
    font-size: 1.4em;
  }
}

/* - - MAIN - - */
/* SEZIONE PARTNERS */
#partners {
  background-color: #f3f5f9;
  padding: 50px 20px 30px;
}

#partners [class*="col-"] {
  margin: 30px 0;
}

#partners a {
  vertical-align: top;
}

#partners img {
  max-width: 165px;
  margin-bottom: 20px;
  margin-right: 15px;
}

#partners h4 {
  color: #5b6987;
  font-weight: bold;
}

/* Media sezione Partners */
@media screen and (min-width: 490px) and (max-width: 768px) {
  #partners li {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .partners_logos li {
    width: 14%;
    margin-right: 15px;
  }

  .partners_logos img {
    width: 100%;
  }
}

/* SEZIONE DEPLOY */
#deploy {
  padding: 50px 0;
}

#deploy .main_deploy {
  padding: 0 100px;
}

.deploy_text p {
  font-size: 1.6em;
  color: #5b6987;
  margin-bottom: 50px;
}

.deploy_index ul {
  border-left: 1.5px solid #5b698742;
}

.deploy_index li {
  display: block;
  margin-left: 15px;
  margin-bottom: 20px;
}

.deploy_index a {
  color: #5b6987;
  font-weight: 400;
  font-size: 1.5em;
}

.deploy_index a:hover {
  text-decoration: none;
  color: #010e28;
}

.deploy_index a:hover::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-4px);
  margin-left: -16px;
  background-color: #0069ff;
  height: 40px;
  width: 2px;
}

.deploy_tabs [class*="col-"] {
  margin-bottom: 20px;
}

.deploy_tabs h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.deploy_tabs p {
  font-size: 1em;
}

/* Sezione DEPLOY media */
@media screen and (max-width: 768px) {
  #deploy .main_deploy {
    padding: 0 15px;
  }
}

/* SEZIONE DESIGN */
#design {
  padding: 50px 0;
  background-color: #f3f5f9;
}

.design_text p {
  font-size: 1.6em;
  color: #5b6987;
  margin-bottom: 50px;
}

.design_img img {
  width: 100%;
  text-align: center;
  padding: 0 50px;
}

.design_img::before {
  content: "\f053";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  color: #5b69878e;
}

.design_img::after {
  content: "\f054";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3em;
  color: #031b4e;
  cursor: pointer;
}

.design_img p {
  color: #031b4e;
  font-weight: 600;
  margin-top: 20px;
  font-size: 1.1em;
}

.dot_pages {
  color: #0069ff;
}

/* media sezione DESIGN */
@media screen and (max-width: 768px) {
  .design_img::before,
  .design_img::after {
    display: none;
  }
}

/* SEZIONE FEATURES */
#features {
  padding: 50px 0;
}

/* SEZIONE CUSTOMERS */
#customers {
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg");
  background-color: #031b4e;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  color: white;
}

/* SEZIONE DEVELOPMENT */
#development {
  padding: 50px 0;
}

/* SEZIONE CTA - GET STARTED */
#cta {
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: white;
}

#cta h2 {
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: 30px;
}

#cta a {
  color: #0069ff;
  font-weight: 500;
}

#cta a:hover {
  color: white;
}

#cta .my_btn:hover,
#cta .my_btn:focus,
#cta .my_btn:active {
  background-color: #010e28;
  border: 1px solid #010e28;
}

/* - - FOOTER - - */
footer {
  background-color: #010e28;
  padding: 50px 0;
}
