/* - - GENERAL - - */
body {
  font-family: Helvetica, sans-serif;
}

a {
  color: black;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.btn:hover {
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-top: 4px;
  margin: 0;
}

li {
  display: inline-block;
}

/* - - DEBUG - - */
.debug [class*="col-"] {
  height: 100%;
  border: 1px dotted black;
  background-color: lightcyan;
}

.debug .row .row [class*="col-"] {
  height: 80%;
  border: 1px dotted cadetblue;
  margin: 5px 0;
}

/* DA CANCELLARE */
.jumbotron .row {
  height: 400px;
}

.box-100 [class*="col-"] {
  height: 100px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.ibox-100 {
  height: 100px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.box-400 [class*="col-"] {
  height: 400px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.ibox-400 {
  height: 400px;
  border: 1px dotted black;
  background-color: lightcyan;
}

.ibox-200 [class*="col-"] {
  height: 200px;
  border: 1px dotted black;
  border: 1px dotted red;
}

#customers .row .row [class*="col-"] {
  border: 1px dotted black;
  border: 1px dotted red;
}
/* /DA CANCELLARE */

/* - - HEADER - - */
header .row {
  height: 60px;
  line-height: 60px;
}

.header_logo img {
  width: 180px;
  vertical-align: middle;
}

.central_nav a,
.dx_nav a {
  font-size: 1.2em;
  margin-right: 15px;
}

.central_nav a:hover,
.dx_nav a:hover {
  text-decoration: none;
  color: #0069ff;
}

.dx_nav .btn {
  margin-bottom: 3px;
  font-size: 1em;
  color: #0069ff;
  border: 1.5px solid #0069ff;
}

.dx_nav .btn:hover {
  background-color: #0069ff;
  color: white;
}

.dropdown::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  vertical-align: middle;
  font-size: 0.8em;
  margin-left: 2px;
}

.nav_bar i {
  color: #0069ff;
  font-size: 1.8em;
  padding-top: 20px;
}

.nav_bar i:hover {
  color: #031b4e;
  cursor: pointer;
}

/* - - JUMBOTRON - - */
.jumbotron {
  height: 500px;
  background-image: url(../img/bg-home-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

/* - - MAIN - - */
/* SEZIONE PARTNERS */
#partners {
  background-color: #f3f5f9;
  padding: 50px 20px;
}

/* SEZIONE DEPLOY */
#deploy {
  padding: 50px 0;
}

/* SEZIONE DESIGN */
#design {
  padding: 50px 0;
  background-color: #f3f5f9;
}

/* SEZIONE FEATURES */
#features {
  padding: 50px 0;
}

/* SEZIONE CUSTOMERS */
#customers {
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg");
  background-color: #031b4e;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  color: white;
}

/* SEZIONE DEVELOPMENT */
#development {
  padding: 50px 0;
}

/* SEZIONE CTA - GET STARTED */
#cta {
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  color: white;
}

#cta h2 {
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: 30px;
}

#cta a {
  color: #0069ff;
  font-weight: 500;
}

#cta a:hover {
  color: white;
}

#cta .btn:hover {
  background-color: #010e28;
  border: 1px solid #010e28;
}

/* - - FOOTER - - */
footer {
  background-color: #010e28;
  padding: 50px 0;
}
