/* - - GENERAL - - */
body {
  font-family: sans-serif;
}

a {
  color: black;
}

/* - - DEBUG - - */
.debug [class*="col-"] {
  height: 100%;
  border: 1px dotted black;
  background-color: lightcyan;
}

.debug .row .row [class*="col-"] {
  height: 80%;
  border: 1px dotted cadetblue;
  margin: 5px 0;
}

/* DA CANCELLARE */
header .row {
  height: 80px;
  line-height: 80px;
}

.jumbotron .row {
  height: 400px;
}

#partners [class*="col-"] {
  height: 100px;
  border: 1px dotted black;
  background-color: lightcyan;
}

#deploy .row:first-child [class*="col-"],
#design .row:first-child [class*="col-"],
#design .row:last-child [class*="col-"]:last-child {
  height: 100px;
  border: 1px dotted black;
  background-color: lightcyan;
}

#deploy .row:last-child [class*="col-"],
#design .row:last-child [class*="col-"] {
  height: 400px;
  border: 1px dotted black;
  background-color: lightcyan;
}

#deploy .row:last-child .row [class*="col-"] {
  height: 200px;
  border: 1px dotted black;
  border: 1px dotted red;
}
/* /DA CANCELLARE */

/* - - HEADER - - */

/* - - JUMBOTRON - - */
.jumbotron {
  height: 500px;
  background-image: url(../img/bg-home-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

/* - - MAIN - - */
/* SEZIONE PARTNERS */
#partners {
  background-color: #f3f5f9;
  padding: 50px 20px;
}

/* SEZIONE DEPLOY */
#deploy {
  padding: 50px 0;
}

/* SEZIONE DESIGN */
#design {
  padding: 50px 0;
  background-color: #f3f5f9;
}

/* - - FOOTER - - */
